a:link {
    color:black
}

a:visited {
    color:black
}

a:hover {color:grey} 
h1 {
    color:red; 
    font-size:50
}

h2 {
    color:blue; 
}

nav {color:black; font-size:30; border-width:5px; border-style:ridge; border-color:red; background-color:darkred; display:inline-block;}

navchoice {font-size:30; border-width:5px; border-style:double; background-color:lightgrey}

content {
    float:left;
    display:block;
    width:575px;
    border-width:3px;
    border-style:double solid;
    border-color:red;
    color:white; 
    font-size:25; 
    padding:3px;
    background-color:#1A1A1A;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10%;
}

content1 {
    color:white; 
    font-size:25; 
    border-width:2.5px; 
    border-style:dotted; 
    border-color:aqua; 
    background-color:#1A1A1A}

p1  {
    display:block;
    border-style:solid double;
    border-color:blue;
    float:right;
    margin-right:10%;
    margin-top:5px;
    margin-bottom:5px;
}

cd {
    display:block;
    width:1280px;
    margin:0 auto;
}

vg1 {
    display:block;
    width:100%;
    max-width:900;
    margin:0 auto;
    border-bottom-color:gray;
    border-bottom-style:solid;
    border-bottom-width:6px;
    background-color:white;
    border-radius:6px;

    
}

vgc1    {
    display:block;
    width:400px;
    float:left;
}

vgc2    {
    display:block;
    width:400px;
    float:right;
}
